<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
        <mat-card-title>Responsive</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum porro quaerat dolore nam, soluta voluptatem?</p>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
        <mat-card-title>Web</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum porro quaerat dolore nam, soluta voluptatem?</p>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum porro quaerat dolore nam, soluta voluptatem?</p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h1>About me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eius eaque explicabo quisquam reprehenderit fugiat, dignissimos itaque velit! Accusamus vitae placeat quos impedit corporis voluptatem perspiciatis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, culpa! Blanditiis, similique. Amet.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML5 & CSS3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Boostrap</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">70%</span>
      <mat-progress-bar value="70" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>

  <div class="row mt-5">
    <div class="col-3 text-center">
      <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
      <h2> <i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular development</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore illo voluptate sit id voluptas neque! Quibusdam nemo consectetur exercitationem error dolorem eligendi molestiae aut fugit voluptatem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsum doloremque dignissimos, quia maiores pariatur? Esse laboriosam amet quia illum atque?</p>
      <button  mat-stroked-button>View More</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-9 text-right">
      <h2>React Development<i class="fab fa-react react-color d-md-none ml-2"></i></h2>
      <p>Minus enim veritatis illo atque corrupti obcaecati, assumenda beatae, ipsam exercitationem debitis consequuntur voluptatem deleniti! Veritatis nulla illo excepturi tenetur dolor! Voluptate velit fuga enim voluptas!</p>
      <p>Nam ea neque veniam repudiandae, hic non voluptates minima quo cupiditate quis ab excepturi nisi autem deserunt asperiores, facilis aperiam maiores!</p>
      <button  mat-stroked-button>View More</button>
    </div>
    <div class="col-3 text-center" >
        <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3 text-center">
        <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
    </div>
    <div class="col-12 col-md-9">
      <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue development</h2>
      <p>Cum quas quo soluta deserunt fugit, aliquid repudiandae reprehenderit doloremque natus magni voluptatem assumenda, minus quae, nisi maiores tempore velit. In soluta sit architecto aliquid dicta?</p>
      <p>Perferendis nostrum vero temporibus. Deleniti dicta rerum possimus consectetur quisquam repudiandae vel iusto nesciunt repellendus dolor, quos pariatur mollitia ex minus?</p>
      <button  mat-stroked-button>View More</button>
    </div>
  </div>

<div class="portofolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Recent Apps</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ipsa libero, autem corrupti nostrum in officia et totam ab sed cum!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 col-md-4"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app1" alt="app1"></div>
    <div class="col-12 col-sm-4 col-md-4"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app2" alt="app2"></div>
    <div class="col-12 col-sm-4 col-md-4"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app3" alt="app3"></div>
    <div class="col-12 col-sm-6 col-md-3"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app4" alt="app4"></div>
    <div class="col-12 col-sm-6 col-md-3"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app5" alt="app5"></div>
    <div class="col-12 col-sm-6 col-md-3"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app6" alt="app6"></div>
    <div class="col-12 col-sm-6 col-md-3"><img class="img-fluid" src="https://fakeimg.pl/650x450/000000/?text=app7" alt="app7"></div>
    <div class="col-12 mt-3">
        <button  mat-stroked-button>View More</button>
    </div>
  </div>
</div>
